/* AppointmentList.css */

.appointment-list-container {
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.appointment-list-container h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
}

.appointment-item {
    background-color: #1c1c1c;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.appointment-item p {
    margin: 5px 0;
}
