/* CalendarComponent.css */

/* Existing styles */

.react-calendar {
    background-color: #1c1c1c;
    border: none;
    border-radius: 8px;
    color: #fff;
}

.react-calendar__tile {
    background: none;
}

.react-calendar__tile--active {
    background: #4caf50;
}

.react-calendar__navigation button {
    color: #fff;
}

.react-calendar__month-view__weekdays__weekday {
    color: #fff;
}

.selected-date {
    color: #fff;
}
